@import "global.css";

.sidebar {
    -fx-background-color: -cor-sidebar;
}

.logo {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 25px 0;
}

.menu-title {
    -fx-text-fill: -cor-sidebar-texto;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5px 8px;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: -cor-sidebar-texto;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 7px;
    -fx-cursor: hand;
    -fx-padding: 12px 10px 12px 12px;
}

.menu-button:hover {
    -fx-background-color: derive(-cor-sidebar, 15%);
    -fx-text-fill: white;
}

.menu-button-active {
    -fx-background-color: -cor-sidebar-ativo;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 7px;
    -fx-cursor: hand;
    -fx-padding: 12px 10px 12px 12px;
}

.menu-button-active:hover {
    -fx-background-color: derive(-cor-sidebar-ativo, 10%);
}